.weather {
    max-width: 1080px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgba(0 0 0 / 30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto 10px auto;
    padding: 0 20px 20px 20px;
}

.title {
    padding-top: 10px;
    font-weight: bolder;
    font-size: 32px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.flag{
    padding-left: 4px;
    padding-top: 6px;
    width: 32px;
    height: 32px;
}

.top {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    line-height: 1;
    margin: 0;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 60%;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.details-label{
    align-items: left;
    font-weight: bolder;
    font-size: 18px;
}
.parameter-label {
    align-items: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    align-items: right;
    font-weight: 600;
    font-size: 12px;
}